<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Auth/login App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
      <link rel="stylesheet" type="text/css" href="/public/css/main.css">
      <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </head>
  <body>
    {{{ body }}}
  </body>

  <footer> AM I ALWAYS HERE NO MATTER WHAT PAGE YOU GO TO?</footer>
</html>
