
.time, .align {
   position: relative;
    top: -65px;
}

.title {
   position: relative;
    top: -25px;
}

.instructor {
  position: relative;
  top: -25px;
  right: -25px;
}

.description {
  position: relative;
  top: -35px;
}

